h1{
	color: White;
	padding-top: 20px;
}

h2{
	color: White;
	padding-top: 20px;
}

h3{
	color: White;
	padding-top: 20px;
}

h4{
	color: White;
	padding-top: 20px;
}

a:link{
    color: red;
}

a:visited{
    color: grey;
}

a:hover{
    color: pink;
}
body{
	background-color: black;
	color: white;
	margin-left: 50px;
	margin-right: 50px;
    font-family: "Bitstream Vera Sans";
}
